<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista filmów</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>

<div class="container mt-5">
    <h1>Lista filmów</h1>
    <div class="row mb-3">
        <div class="col">
            <form action="#" th:action="@{/filmy}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Szukaj filmu..." name="szukaj" aria-label="Szukaj filmu">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Rok wydania</th>
            <th>Długość</th>
            <th>Gatunek</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <!-- Pętla Thymeleaf przez listę filmów -->
        <tr th:each="film : ${filmy}">
            <td th:text="${film.tytul}">Tytuł filmu</td>
            <td th:text="${film.opis}">Opis filmu</td>
            <td th:text="${film.rokWydania}">Rok wydania</td>
            <td th:text="${film.dlugosc}">Długość filmu</td>
            <td th:text="${film.nazwaGatunku}"></td>
            <td>
                <form th:action="@{/usunFilm/{id}(id=${film.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
                <a th:href="@{/edytuj-film/{id}(id=${film.id})}" class="btn btn-primary">Edytuj</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>